NODE_ENV=production
INTERNAL_API_BASE_URL=http://backend:8000/api/v1
AUTH_COOKIE_SECURE=true
NEXT_PUBLIC_APP_NAME=My Dear Partner
NEXT_PUBLIC_APP_URL=https://mydearpartner.com
NEXT_PUBLIC_API_BASE_URL=/api/v1
NEXT_PUBLIC_WS_BASE_URL=wss://mydearpartner.com
NEXT_PUBLIC_MEDIA_BASE_URL=https://mydearpartner.com/media
NEXT_PUBLIC_ENABLE_ADMIN_PORTAL=true
